    /* Navigation*/
    .navbar {
        background-color: transparent;
      }
      .scrolling-navbar {
        transition: background .5s ease-in-out, padding .5s ease-in-out;
      }
      .top-nav-collapse {
        background-color: #34456a;
      }
      footer.page-footer {
        background-color: #34456a;
      }
      
      .heading{
        font-size: 50px;
      }

      .underHeading{
        font-size: 35px;
      }

      @media only screen and (max-width: 768px) {
        .navbar {
          background-color: #34456a;
        }

        .heading{
          font-size: 30px;
        }
  
        .underHeading{
          font-size: 15px;
        }
      }

  

      /* Necessary for full page carousel*/
      html,
      body,
      .view {
        height: 100%;
      }
