@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.centertricks{
  margin: auto;
  width: 50%;

}

#trickContainer{
margin: 0 auto;
}

#linkContainer{
  float: left;
}

.trickWrapper{
  padding: 1rem;
  flex: 1 0 50%;

}

.display-4{
  font-size: 40px !important;
}

.list-group-item{
 
  text-align: left;
}

iframe{
  max-width: 100%;
  border: 2px solid white;
  padding: 0;
}

.lead{
  list-style-type: none;
  text-align: justify;
  text-justify: inter-word;
}

.dx-texteditor-input{
  padding: 0px; 
}

.dx-searchbox .dx-icon-search{
  position: absolute !important;
}

.dx-treeview-item{
  color: white;
  font-size: 16px;
  font-family: 'poppins-bold', sans-serif !important;
  padding: 0.5rem;
  font-size: 20px;
}
.dx-treeview-item:hover{
color: #86c232;
}

.dx-treeview-item:active{
  background-color: #86c232;
  }

#disclaimerUl{
display: none;
text-align: center;
}

hr{
  background-color: white;
  width: 90%;
}


@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2em;
  }

  .centertricks{
    width: 100%;
    padding-left: 15%;
  
  }

  }
@media (max-width: 768px) {
  .carousel-caption {
top: 45%;
}

.p-2{
  flex: 1 0 100%;
}

}