@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



#trickContainer{
float : right;
padding-right: 10%;
}

#linkContainer{
  float: left;
  padding-left: 10%
}

.trickWrapper{
margin:auto;
}

.list-group-item{
 
  text-align: left;
}

@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2em;
  }
  }
@media (max-width: 768px) {
  .carousel-caption {
top: 45%;
}
}