@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



#trickContainer{
float : right;
padding-right: 10%;
}

#linkContainer{
  float: left;
  padding-left: 10%
}

.trickWrapper{
  padding: 1rem;
  flex: 1 0 50%;
}

.list-group-item{
 
  text-align: left;
}

iframe{
  max-width: 100%;
  border: 2px solid white;
}

.lead{
  list-style-type: none;
  text-align: justify;
  text-justify: inter-word;
}

.dx-texteditor-input{
  padding: 0px; 
}

.dx-searchbox .dx-icon-search{
  position: absolute !important;
}

.dx-treeview-item{
  color: white;
  font-size: 16px;
  font-family: 'poppins-bold', sans-serif !important;
}

#trickWrapper{
  background-color: #388087 !important;
}

#disclaimerUl{
display: none;
}


@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2em;
  }

  }
@media (max-width: 768px) {
  .carousel-caption {
top: 45%;
}

.p-2{
  flex: 1 0 100%;
}

}