


<!-- Navigation -->
<nav class="navbar navbar-expand-md bg-light ">
	<div class="container-fluid" >
		<!-- <a href="../../../index.html"><img id="limepic" src="../../global/img/Logo_Website.png"></a> -->
				
		<button class="navbar-toggler navbar-light " id="toggleButton" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="../../../index.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./home/firstSteps/html/firstStepsPs.html">First Steps</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./home/trickTutorials/html/trickTutorials.html">Trick Tutorials</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./home/penModding/html/penmods.html">Penmodding</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Inspiration</a>
				</li>
				

			</ul>
		</div>
	</div>
	
</nav>



