	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img id="limepic" src="../../global/img/Logo_Website.png"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">First Steps</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Trick Tutorials</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Penmodding</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Inspiration</a>
					</li>
					

				</ul>
			</div>
		</div>
	</nav>
