body {
  font-family: 'Poppins', sans-serif;
  background-color: #222626;
  color: white;
}


.card img {
  width: 100%;
  height: auto;
  max-width:600px;
  margin: auto;
}

#cards .card-group .card{
  margin: 0.5rem;
  background-color: #5a5a5a;
  
}

#cards .card-text{
  color: white ;
  
}

.sameSize{
  width: 200px;
 
}


#cards .card-text:hover{
  color: #86c232 ;
  
}

#cards img{ 
  border: 1px solid white;
}

#cards .card-body{
  text-align: center;
}

/* Search */

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #ef9a9a;
}

.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid #cddc39;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}

.carousel-indicators{
 padding-bottom: 3rem; 
}

.carousel-item .card{
  background-color: white;
}

.featured{
  width: 100%;
  height: auto;
}

#modtypebuttons{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

#searchWrapper{
  width: 65% !important;

  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;


}

.padding{
  margin-top: 3rem;
}


